


/* Style for the not-liked state */
.material-symbols-sharp.not-liked {
   color:#2C684B
  
}

.material-symbols-sharp.liked {
    font-variation-settings: 'FILL' 1, 'wght' 300, 'GRAD' 100, 'opsz' 48;
    color: #2C684B;
  }

  .view-likes-button button{
   background-color: #ffffff;
   padding: 0;
   width: auto;
   height: 20px;
   border: 0px;
   padding-left: 8px;
   padding-bottom: 2px;
   cursor: pointer;
}

.view-likes-button button:hover {
   text-decoration: underline;
}

.like-toggle-button {
   display: flex;
   flex-direction: row;
   align-items: center;
}