/* -----------Feed Page-------- */


.feed-page {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 580px;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background-color: #f3f2ef;
}

/* -----------Posts box------------ */

.posts-wrapper{
    /* border: 1.5px solid rgb(255, 0, 0); */
    position: relative;
    padding-top: 2px;
    

   
}

.individual-post-container{
    /* border: 1px solid rgb(0, 0, 0); */
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
    width: 450px;
    height: fit-content;
    padding-bottom: 20px;
}

/*  ------- EDIT POST */
.edit-post{
    position: absolute;
    display: flex;
    left: 85%;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: flex-end;
    color:  #32473c; 
    /* padding-top: -8px; */
}

.edit-post button{
    border: none;
    font-size: 30px;
    /* border-radius: 100%; */
    cursor: pointer;
    background-color: white;
    /* margin-top: -2px; */
    /* height: 20px; */
    /* padding-top: -2px; */

}

/*  ------- POST USER IMAGE */
.profile-image-post{
    width: 55px;
    height: 55px;
    border-radius: 100%;
    object-fit: cover;
    cursor: pointer;
    margin-top: 8px;
    margin-left: 10px;
}

/*  ------- POST USER NAME */
.post-user-name {
    position: relative;
    top: -75px;
    margin-left: 80px;
    font-weight: 580;
    font-size: 18px; 
    cursor: pointer;
    color: #000000bd;
    width: fit-content;
}

.post-user-name:hover {
    text-decoration: underline;
    color: rgba(16, 91, 47, 0.866);
}

/*  ------- POST OCCUPATION*/
.post-user-occupation{
    position: relative;
    margin-left: 80px;
    top: -89px;
    /* color: rgba(16, 91, 47, 0.866);  */

    color:  rgba(83, 95, 89, 0.796);
}

/*  ------- POST TITLE*/
.post-title{
    position: relative;
    font-size: 18px;
    margin-top:-70px;
    font-weight: bold;
    text-align: start;
    margin-left: 10px;
    /* font-family: monospace; */
}

/*  ------- POST BODY*/
.post-text{
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    word-wrap: break-word;         /* Break long words if necessary */
    overflow-wrap: break-word;    /* Same, but with better support */
    max-width: 100%;              /* Ensure the comment doesn't exceed its container width */
    box-sizing: border-box;       /* Ensure padding and borders are included in the width */
    /* Add other desired styles like margin, padding, font, etc. */    font-size: 14px;



}

/*  ------- POST IMAGES*/

.post-media  {
    width: 95%;
    height: 350px;
    /* object-fit: cover; */
    /* height: 450px; */
    padding-bottom: 20px;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.267); */
    /* margin-left: 10px;
    margin-right: 10px; */
    padding-left: 10px;
    padding-right: 10px;
}

/* .post-media img {
    height: 250px;
} */

.post-like-toggle{
    /* margin-left: 10px; */
    margin-right: 0px;
    display: flex;
    gap: 190px;
    padding-bottom: 2px;
    border-bottom: .5px solid rgba(0, 0, 0, 0.116);
    padding-left: 10px;  
}

.post-like-toggle button {
    background-color: white;
    border: 0px;
    cursor: pointer;

}

.post-like-toggle button:hover {
    text-decoration: underline;
}

/*  ------- POST COMMENTS*/

.post-comment-wrapper{
    /* border: teal 2px solid; */
    /* margin-left: 10px; */
    /* padding-left: 10px; */
    padding-top: 10px;
   
}

.single-comment{
    border-bottom: 1px solid rgba(0, 0, 0, 0.116);
    padding-left: 10px;

}




.comment-user-profile-picture{
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 100%;
    margin-top: 6px;
    
}

#coment-user-name{
    position: absolute;
    margin-top: -35px;
    margin-left: 42px;
    font-weight: 550;
    color: #32473c;

}
#comment-user-occupation{
    position: absolute;
    margin-top: -15px;
    margin-left: 42px;
    color:  rgba(83, 95, 89, 0.796);
}

#comment-body{
    margin-left: 42px;
    margin-right: 52px;
    word-wrap: break-word;       
    overflow-wrap: break-word;    
    max-width: 100%;             
    box-sizing: border-box;      
   
}
    



.edit-comment button{
    margin-top: -95px;
    left: 88%;
    /* top: 4%; */
    position: absolute;
    border-bottom:  .5px solid rgba(27, 50, 34, 0.175);
    border: none;
    font-size: 30px;
    /* border-radius: 100%; */
    cursor: pointer;
    background-color: white;
    /* margin-top: -2px; */
    /* height: 20px; */
    /* padding-top: -2px; */


}

.bottom-section-post{
    /* border: 1px solid fuchsia; */
}




