.first-section{
    display: flex;
    border: 1px solid black;
    height: 800px;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;


}
.first-section-left {
    border: 1px black solid;
}
.splash-page-tag-line{
    width: fit-content;
    border: 1px red solid;
    font-size: 16px;
  
}
.log-in-section{
    margin-top: 80px;
    border: 1px solid blue;
    width: fit-content;
}
.log-in-section h2 {
    text-align: center;
    color: #525f58;
}

.splash-page-image {
    align-self: center;
    border: 1px solid green;
    width: fit-content;
    max-width: 100%;
}
.splash-page-image img{
    width: 530px;
    height: auto;
}
.join-now-splash button {
    margin-top: 10px;
    margin-left: 30px;
}

.join-now-splash{
    margin-top: 20px;
    margin-left: 10px;
    width: 350px;
    height: 45px;
    padding-top: 15px;
    padding-bottom: 20px;
    border-radius: 20px;
    font-size: 18px;
    color: #3E8867;
    background: none;
    border: 1px solid  #3E8867;
  
}

@media screen and (min-width: 768px) {
    .splash-page-image img {
        width: 60vw; /* 60% of the viewport width */
    }
}

@media screen and (min-width: 1200px) {
    .splash-page-image img {
        width: 50vw; /* 80% of the viewport width for even larger screens */
    }
}
@media screen and (min-width: 1200px) {
    .log-in-section {
        width: 50vw; /* 80% of the viewport width for even larger screens */
    }
}






