/* --------------Start-Post-Button--------------- */

.start-post-wrapper {
    border: .5px solid rgba(0, 0, 0, 0.204);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 450px;
    margin-top: 10px;
    align-items:center;
    background-color: white;
    border-radius: 10px;

}
.start-post-image img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
    margin-left: 10px;
    margin-top: -28px;
}

.start-post-button button{
    border-radius: 35px;
    width: 350px;
    height: 50px;
    background-color: transparent;
    max-width: none;
    border: 1px solid rgba(0, 0, 0, 0.237);
    flex-grow: 1;
    cursor: pointer;
    margin-left: 10px;
    margin-top: -22px;
    margin-bottom: 18px;
    text-align: left;
    padding-left: 40px;

    
}

/* ---------------Home Page --------------- */
#home-page{
    display: flex;
    align-items: center;
    flex: 1 30px;
    flex-direction: column;
    background-color: #f3f2ef;
    width: 100%;
}

/* ---------------left-section --------------- */


#home-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* This centers the start-post-wrapper */
    background-color: #f3f2ef ;
}

#pencil-icon{
    position: absolute;
    margin-left: 80px;
    margin-bottom: 28px;
    transform: scaleX(-1);
}

.content-row {
    display: flex;
    width: 100%; /* Assuming you want this row to take the full width */
}

.left-section, .center-feed, .right-section {
    flex: 1;  /* This ensures all three sections have equal width */
    margin: 0 10px;  /* Add some spacing between sections */
    border: 2px solid black;

}

.center-feed {
    flex: 1; 

}
.left-section-top{
    border-bottom: 1px solid darkblue;
}




