.connections-page{
    background-color: #f3f2ef;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 770px;
    
}

.left-section-connections{
    /* border: 2px solid red; */
    margin-left: 10%;
    background-color: white;
    width: 800px;
    height: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 8px;
    cursor: pointer;
}

.left-section-connections h2{
    text-align: center;
}

.followings-list{
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(62, 66, 66, 0.199);
    margin-bottom: 20px;
    margin-right: 10px;
}

.left-section-connections img{
    /* border: 2px solid red; */
    margin-left: 20px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    object-fit: cover;

}

.img-user-info{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

/* Basic Styles for the Button */
.followToggleButton.not-following {
    position: relative;
    margin-top: 18px;
    width: 150px;
    border: 0.5px solid #44795f;
    border-radius: 4px;
    background-color: white;
    transition: background-color 0.1s ease-in;
    padding-top: 6px;
    padding-bottom: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
}

/* Styles when the user is currently following */
.followToggleButton.following {
    background-color: #2c684bc4;
    position: relative;
    margin-top: 18px;
    width: 150px;
    border: 0.5px solid #44795f;
    border-radius: 4px;
    transition: background-color 0.1s ease-in;
    padding-top: 6px;
    padding-bottom: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
}


